* {
   margin: 0;
   padding: 0;
}

/*nav bar CSS settings*/
nav ul {
   overflow: visible;
   background-color: #333;
   list-style-type: none;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   top: 0;
   position: fixed;
   width: 100%;
   z-index: 9999;
}

nav li {
   float: left;
}

nav li a {
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-weight: bold;
}

nav li a:hover {
   background-color: #ddd;
   color: black;
}

nav li a.active {
   background-color: #4CAF50;
   color: white;
}

/*Body settings*/
body {
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 43px;
}

h1, h3, p{
   text-align: center;
   margin: 5px;
}

#errorMsg {
   color: red;
   font-weight: bold;
}

table.form-table, table.form-table th, table.form-table tr, table.form-table td {  
   border: none;
}

.form-table {
   text-align: right;
}

table, tr, th, td {
   border-collapse: collapse;
   border: solid 1px;
   padding: 10px;
   border-color: #ddd;
}

table {
   margin: 15px auto;
}

th {
   background-color: #4CAF50;
   color: white;
}

tr:nth-child(even){
   background-color: #ddd;
}

label {
   font-weight: bold;
}

input {
   border: 1px solid #ddd;
}

input[type=text] {
   height: 30px;
   width: 100%;
}

input[type=date] {
   height: 30px;
   width: 100%;
}

#top-div {
   background-color: #ddd;
}

.main-div {
   width: 100%;
   display: block;
   height: auto;
}

.main-div a{
   margin: 8px 5px;
   background-color: DarkGray;
   text-align: center;
   width: 100px;
   padding: 14px 16px;
   color: white;
   text-decoration: none;
   font-weight: bold;
   border: none;
}


.main-div a:hover {
   background-color: #4CAF50;
   color: white;
}

button {
   background-color: DarkGray;
   text-align: center;
   width: 100px;
   padding: 14px 16px;
   color: white;
   text-decoration: none;
   font-weight: bold;
   border: none;
}

button:hover {
   background-color: #4CAF50;
   color: white;
}